main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: 150px;
  margin-top: 20px;
}

.header-products {
  width: 80%;
  margin-bottom: 20px;
}

.selector__container {
  display: flex;
  justify-content: right;
}

.products {
  width: 80%;
  border: 1px, solid, #dedede;
  border-radius: 10px;
  background-color: #f6f3f0;
  padding-block: 30px;
  padding-inline: 40px;
}

.selector__container form {
  border: 1px, solid, #dedede;
  background-color: #f6f3f0;
  border-radius: 10px;
  padding-inline: 10px;
  padding-block: 5px;
  background-color: #3E1E04;
}

.selector__container label {
  color: #f4ead5;
  padding-right: 10px;
}

.selector__container select {
  width: 20%;
background-color: #f4ead5;
border: 20px;
color:  #232020;
}

.selector__container select {
  text-align: center;
  background-color: #f4ead5;
  border: 20px;
  color:  #232020;
  font-weight: 400;

  }


.selector__container select option {
  text-align: center;
  background-color: #f4ead5;
  border: 20px;
  color:  #232020;
  font-weight: 400;
  }

.selector__container button {
  border: none;
  background-color: #f4ead500;
  border: 10px;
  color: #f4ead5;
  
}

.main__container--allproducts {
  width: 100%;
  border: 1px, solid, #dedede;
  border-radius: 10px;
  background-color: #f6f3f0;
  padding-block: 30px;
  padding-inline: 40px;
}

.title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/coffees/256505890.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
  opacity: 90%;
  border-radius: 20px;
}

.title__container h2 {
  color: #ebebeb;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 3rem;
}

.product__container--all {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  gap : 50px;
  margin-top: 50px;
}


.productContent__article {
  font-weight: 300;
  width: 30%;
  border: 1px, solid, #dedede;
  border-radius: 10px;
  background-color: #f6f3f0;
}

.productContent__article h2 {
text-align: center;
}

.productContent__article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px, solid, #cecece;
}

.productContent__article h2 {
  margin-top: 10px;
}

.productContent__paragraph {
  font-size: 0.8rem;
  padding-inline: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.product__information {
  list-style: none;
}

.btn__article {
  margin: auto;
  margin-block: 20px;
  width: 50%;
}

.btn__seeAll {
  text-align: center;
}

.btn__allSee {
  background-color: #f4ead5;
  font-weight: bolder;
  border: 1px, solid #cecece;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.5rem;
  margin-block: 20px;
  padding-inline: 50px;
  color: #232020;
  
}


