</main>
<footer>
  <div class="footer-container">
    <div class="adress__container">
    <div class="logo-footer">
    <img
          src="/images/logo.svg"
          alt=""
        />
        <h1><a href="/">oCoffe</a></h1>
      </div>
      <div class="adress">
        <li>
          <ul>36 Rue Lepic</ul>
          <ul>Hauts-de-Cloques</ul>
          <ul>01 46 06 49 29</ul>
        </li>
      </div>
  </div>
  <p> © 2024 - oCoffe</p>
  <p>Crée par Cécile Duc Dit Catty</p>
</div>
</footer>
</body>
</html>