main {
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.product__content {
 width: 50%; 
 margin-block: 20px;
}

.product__content, .product__content--caracteristics {
  border: 1px, solid, #dedede;
  border-radius: 10px;
  background-color: #f6f3f0;
}

.product__content--presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.product__content--presentation h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-block: 20px;
}

.product__content--image {
  width: 600px;
  height: 392px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 40px;
}


.product__content--presentation img {
  position: absolute;
  top: 50%;    /* Ajuster selon le besoin */
  left: 50%;   /* Ajuster selon le besoin */
  transform: translate(-50%, -50%); /* Centrer l'image */
}


.product__content--caracteristics {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-top: 40px;
  width: 80%;
  margin-bottom: 40px;
  
}

.product__content--caracteristics ul {
padding-right: 100px;

}


.catalog__button {
  background-color: #f4ead5;
  font-weight: bolder;
  border: 1px, solid #cecece;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 30px;
}

