<%- include('partials/header') %>

<div class="image__container"></div>
      <div class="title__container">
        <h2>Notre Catalogue</h2>
      </div>
      <section class="product__container">
        <div class="product__container--all">
          <article id="article-1" class="productContent__article">
            <div class="productContent__img">
              <img
                src="../images/coffees/105589090.png"
                alt=""
              />
            </div>
            <p class="productContent__paragraph">
              Laissez-vous surprendre par de nouvelles saveurs et arômes,
              soigneusement choisis pour enrichir votre expérience café. Venez
              vite les déguster !
            </p>
            <button class="btn_main btn__article">Découvrir</button>
          </article>
          <article id="article-1" class="productContent__article">
            <div class="productContent__img">
              <img
                src="../images/coffees/105589090.png"
                alt=""
              />
            </div>
            <p class="productContent__paragraph">
              Laissez-vous surprendre par de nouvelles saveurs et arômes,
              soigneusement choisis pour enrichir votre expérience café. Venez
              vite les déguster !
            </p>
            <button class="btn_main btn__article">Découvrir</button>
          </article>
          <article id="article-1" class="productContent__article">
            <div class="productContent__img">
              <img
                src="../images/coffees/105589090.png"
                alt=""
              />
            </div>
            <p class="productContent__paragraph">
              Laissez-vous surprendre par de nouvelles saveurs et arômes,
              soigneusement choisis pour enrichir votre expérience café. Venez
              vite les déguster !
            </p>
            <button class="btn_main btn__article">Découvrir</button>
          </article>
        </div>
      </section>
      <button class="btn_main btn__allSee">Tout voir</button>

      <%- include('partials/footer') %>