<%- include('partials/header') %>

<section class="product__content">
  <div class="product__content--presentation">
    <h2>Café du Pérou</h2>
    <div class="product__content--image">
    <img src="../images/coffees/954589100.png" alt="">
  </div>
  </div>
  <div class="product__content--caracteristics">
    <li>
      <ul><strong>Description :</strong> Café fort et concentré préparé en faisant 
        passer de l'eau chaude à travers du café finement moulu.</ul>
      <ul><strong>Référence :</strong> 100955890</ul>
      <ul><strong>Origine :</strong> Italie</ul>
      <ul><strong>Prix au kilo :</strong> 20.99 €</ul>
      <ul><strong>Caractéristique principale :</strong> Corsé</ul>
      <ul><strong>Disponible :</strong> Oui</ul>
    </li>
      <button class="main__button catalog__button">Catalogue</button>
  </div>
  
</section>

<%- include('partials/footer') %>